<div class="mt-3">

    <span class="p-3" >
        <input  #name type="text" (click)="clear()" (keyup.enter)="update()" 
        maxlength="63" class="w-55 form-control-lg" [(ngModel)]="InputName" placeholder="Enter Task and press Enter To add task">
    </span>

    <div *ngIf="ToDoList[0]">
    <div class="card mt-3 ml-3 mb-3 w-55">
        <div class="p-3 card-header"><h5>To Do List</h5></div>
        <div class="row no-gutters" class="list-group-item" *ngFor="let task of ToDoList">
            <span class="col-md-3">
                <button type="button" class="btn btn-primary" (click) = "checkCheckBox(task)">Done</button>
            </span>
            <span class="col-md-3 p-3 text-danger">
                <a class="fa fa-times" aria-hidden="true" (click) = "removeFromToDo(task.id)">
                  </a>
            </span>
            <span class="col-md-3 text-primary">
                <a class="fa fa-arrow-up" aria-hidden="true" (click) = "updateElemet(task.id,task.toDo)">
                  </a>
            </span>
            <span class="col-md-3">
               {{ task.toDo }}
            </span>
        <!-- <table>
            <tr>
                <td class="col-md-3">
                    <button type="button" class="btn btn-primary" (click) = "checkCheckBox(task)">Done</button> 
                </td>
                <td class="col-md-3 p-3 text-danger">
                    <a class="fa fa-times" aria-hidden="true" (click) = "deleteAElement(task)">
                    </a>
                </td>
                <td class="col-md-3 text-primary">
                    <a class="fa fa-arrow-up" aria-hidden="true" (click) = "updateElemet(task)">
                    </a>
                </td>
                <td class="col-md-3">
                    {{ task }}
                </td>
            </tr>
        </table> -->
        </div>
      </div>
      </div>

    <div *ngIf="DoneList[0]">    
        <div class="card mt-3 ml-3 mb-3 w-55">
            <div class="p-3 card-header"><h5>Done List</h5></div>
        <div class="row no-gutters" class="list-group-item" *ngFor="let task of DoneList">
          <span class="col-md-3">
              <button type="button" class="btn btn-danger" (click) = "uncheckCheckBox(task)">To Do</button>
          </span>
          <span class="col-md-3 p-3 text-danger">
              <a class="fa fa-times" aria-hidden="true" (click) = "removeFromDone(task.id)">
                </a>
          </span>
          <span class="col-md-3 text-primary">
              <a class="fa fa-arrow-up" aria-hidden="true" (click) = "updateElemet(task.id,task.done,true)">
                </a>
          </span>
          <span class="col-md-3">
             {{ task.done }}
          </span>
      </div>
      </div>
      </div>




<router-outlet></router-outlet>
